/* ////////////////////////////////////////////
// UTILITIES: COLORS
*/
@use '../abstracts/colors' as *;

@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    @if $color == bg {
      .u-clr-#{$color}-#{$shade} {
        background-color: var(#{--clr-#{$color}-#{$shade}});
      }
    }
    @if $color == txt {
      .u-clr-#{$color}-#{$shade} {
        color: var(#{--clr-#{$color}-#{$shade}});
      }
    }
    @if $color == el {
      .u-clr-#{$color}-#{$shade} {
        background-color: var(#{--clr-#{$color}-#{$shade}});
      }
    }
  }
}

// @each $color, $shades in $colors {
//   @each $shade, $value in $shades {
//     .text-#{$color}-#{$shade} {
//       color: $value;
//     }
//     .bg-#{$color}-#{$shade} {
//       background-color: $value;
//     }
//   }
// }
