/* ////////////////////////////////////////////
// UTILITIES
*/

/*********** CONTAINER ************/
.u-container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

// ====== CONTAINER ======
// .container {
//   max-width: 120rem;
//   min-height: 50rem;
//   margin: 8rem auto;
//   background-color: var(--clr-sec-200);
//   box-shadow: 0 2rem 6rem var(--shadow-300);
// }

// alternative to u-container
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
@media screen and (min-width: 62em) {
  .section-center {
    width: 95vw;
  }
}
