/*********** FOOTER ************/

/* Attribution */
.attribution {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 0.5rem;
  font-size: .8rem;
  color: white;

  a {
    color: hsl(228, 65%, 9%);
  }
}

