/*********** FOOTER ************/

/* Attribution */
.attribution {
  position: relative;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
  font-size: 1.4rem;
  color: white;
  background-color: var(--clr-txt-500);

  a {
    color: var(--clr-el-200);
  }
  a:hover{
    text-decoration: underline;
  }
}

