@use '../abstracts/mq-manager' as mq;
@use '../abstracts/variables' as *;

/* ////////////////////////////////////////////
// LAYOUT
*/

.section {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;

  @include mq.media('>=ipad') {
    padding-left: 13.5rem;
    padding-right: 13.5rem;
    margin: 0 auto;
  }
}

.row {
  display: flex;
  align-items: center;
  max-width: $grid-width;
  margin: 0 auto;
  gap: $gap;

  @include mq.media('<=tablet') {
    flex-direction: column;
    & > * {
      width: 100% !important;
    }
  }

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include mq.media('<=tablet') {
      margin-bottom: $gutter-vertical-small;
    }
  }

  .col {
    &-1-of-2 {
      width: calc((100% - #{$gap}) / 2);
    }

    &-1-of-3 {
      width: calc((100% - 2 * #{$gap}) / 3);
    }

    &-2-of-3 {
      width: calc(2 * ((100% - 2 * #{$gap}) / 3) + #{$gap});
    }

    &-1-of-4 {
      width: calc((100% - 3 * #{$gap}) / 4);
    }

    &-2-of-4 {
      width: calc(2 * ((100% - 3 * #{$gap}) / 4) + #{$gap});
    }

    &-3-of-4 {
      width: calc(3 * ((100% - 3 * #{$gap}) / 4) + 2 * #{$gap});
    }
  }
}

// @include mq.media('<=tablet') {
//     // [class^='col-'] {
//     //   width: 100% !important; //makes the flex items take full width
//     // }

//   }
