/*********** BUTTONS ************/
.btn {
  display: inline-block;
  border: none;
  border-radius: var(--radius);
  outline: none;
  color: currentColor;
  font: inherit;
  letter-spacing: var(--spacing); //0.02em
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  mix-blend-mode: normal;
  cursor: pointer;
  transition: all var(--transition);

  &:hover,
  &:focus {
    outline: none;
  }

  &--block {
    width: 100%;
    padding: 1.5em 2em;
  }

  &-primary {
    border-radius: 2rem;
    background-color: var(--clr-el-200);
    

    &:hover,
    &:active {
      opacity: 0.5;
    }
  }

  &-secondary {
    padding: 1.5rem 3rem;
    border-radius: 0.5rem;
  }
  &--sm {
    padding: 0.6rem 1.6rem;
  }
  &--md {
  }
  &--lg {
  }

  &--animated {
    animation: bounce 2s ease-in-out infinite;
  }
}
.btn {
  font-size: 1.5rem;
  font-weight: var(--fw-700);
}
a.btn--white {

  &:hover,
  &:active {
    opacity: 0.5;
    animation: none;
    transform: scale(0.95);
  }
}
