/*********** BUTTONS ************/
.btn {
  display: inline-block;
  border: none;
  border-radius: var(--radius);
  outline: none;
  color: currentColor;
  font: inherit;
  letter-spacing: var(--spacing); //0.02em
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  mix-blend-mode: normal;
  cursor: pointer;
  transition: all var(--transition);

  &:hover,
  &:focus {
    outline: none;
  }

  &-block {
    width: 100%;
    padding: 1.5em 2em;
  }
  &-primary {
    background-color: var(--clr-el-200);
  }
  .btn--white {
    color: var(--clr-txt-100);
  }
  .btn--animated {
  }
}
