@use "../abstracts/mq-manager" as mq;
.hero {
//   min-height: 70vh;
  display: flex;
  padding: 8rem 0;
  overflow-x: hidden;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  .heading-primary {
    line-height: 1.1;
    letter-spacing: -0.3rem;
    span{
        letter-spacing: -0.2rem;
    }
  }

  &-text {
    max-width: 77rem;
    margin: 0;
    padding-left: 13.5rem;
    order: 1;
    letter-spacing: var(--spacing);

    &--para {
        font-size: 2.52rem;
      color: var(--clr-txt-400);
      margin: 1rem 0 4rem 0;
    }
  }
  &-img {
    order: 2;
    padding: 0 2rem;
    margin-right: -15.5rem;
    img {
      width: 100%;
    }
  }

  @include mq.media("<=ipad") {
    flex-direction: column;
    &-text {
      padding: 4rem 2rem;
      text-align: center;
      max-width: 100%;
    }
    .heading-primary {
        font-size: 6.5rem;
        margin-bottom: 2rem;
        letter-spacing: -0.2rem;
    }

    &-img {
      order: 0;
    }
  }
}
