@use '../abstracts/mq-manager' as mq;
/*********** COMPONENT: LINE ************/
.line {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 200%;
  height: 5px;
  background-color: var(--clr-bg-400);
  z-index: 1;

  @include mq.media('>=medium') {
    width: 100%;
  }

  @include mq.media('>=ipad') {
    height: 0;
    visibility: hidden;

    bottom: 50%;
    left: 11.5%;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  @include mq.media('>=desktop') {
    height: 5px;
    visibility: visible;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
  }
}
