@use '../abstracts/mixins' as mx;
@use '../abstracts/mq-manager' as mq;
/*********** NAVIGATION ************/

.nav {
  display: flex;
  align-items: center;
  justify-content: center;

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--clr-bg-800);
    box-shadow: var(--shadow-100);
    z-index: 100;
  }

  &-center {
    @include mq.media('>=ipad') {
      display: flex;
      align-items: center;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
  }

  &-logo {
    display: flex;
    align-items: center;
  }

  &-toggle {
    border-color: transparent;
    color: var(--clr-bg-200);
    background: transparent;
    font-size: 3rem;
    transition: var(--transition);
    cursor: pointer;
    @include mq.media('>=ipad') {
      display: none;
    }
  }

  &-links {
    @include mx.center-abs('hz');

    width: 91%; //magic number
    border-radius: var(--b-radius);
    background-color: var(--clr-bg-600);
    z-index: 100;

    //hides the links before & after toggling
    height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
    @include mq.media('>=ipad') {
      position: static;
      left: 0;
      transform: translateX(0);

      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 1.5rem;
      width: 100%;
      height: auto;
      background-color: var(--clr-bg-100);
    }

    & .nav-link {
      padding-bottom: 3rem;
      color: var(--clr-txt-100);
      font-size: 2rem;
      font-weight: var(--fw-700);
      @include mq.media('>=ipad') {
        padding: 0 1rem;
        color: var(--clr-txt-400);
        font-size: 1.5rem;

        &:hover {
          color: var(--clr-txt-500);
        }
      }
    }

    & > &--left,
    & > &--right {
      display: flex;
      flex-direction: column;
      text-align: center;
      @include mq.media('>=ipad') {
        flex-direction: row;
      }
    }

    & > &--left {
      padding: 0 4rem;
      padding-top: 4rem;
      @include mq.media('>=ipad') {
        padding: 0;
      }
    }

    &--right {
      padding: 0 4rem;
      padding-bottom: 4rem;
      @include mq.media('>=ipad') {
        align-items: center;
        padding: 0;
      }

      & :first-child {
        padding-top: 3rem;
        border-top: 1px solid var(--clr-txt-400);
        @include mq.media('>=ipad') {
          padding: 0;
          padding-right: 2rem;
          border: 0;
        }
      }
    }
  }
}

.top-link {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: var(--b-radius);
  background: var(--clr-bg-400);
  font-size: 1.25rem;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}

.scroll-link.top-link {
  color: var(--clr-txt-100);
}

.show-link {
  visibility: visible;
  z-index: 100;
}
