@use '../abstracts/functions' as f;
@use '../abstracts/mq-manager' as mq;
/*********** NAVIGATION ************/

.header__nav {
  padding: 2rem 0;
  color: var(--clr-txt-600);
  font-size: 1.5rem;
  font-weight: var(--fw-700);

  // @include mq.media('>=ipad') {
  //   background: transparent;
  // }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--clr-bg-200);
    box-shadow: var(--shadow-100);

    .links {
      a {
        color: var(--clr-txt-300);

        &:hover {
          color: var(--clr-txt-400);
        }
      }
    }
  }

  &-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem; //optional

    @include mq.media('>=ipad') {
      padding: 0;
    }
  }

  &-center {
    @include mq.media('>=ipad') {
      width: 100%;
      max-width: var(--max-width);
      margin: 0 auto;
      display: flex;
    }
  }
}

.nav-toggle {
  background: transparent;

  @include mq.media('>=ipad') {
    display: none !important;
  }

  &:hover {
    transform: scale(0.9);
  }
}

.links {
  @include mq.media('>=ipad') {
    display: flex;
    align-items: center;
  }
  &-container {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: var(--transition);

    // overwrites the inlined style
    @include mq.media('>=ipad') {
      height: auto !important;
    }
  }
  &-cta {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  a {
    display: block;
    // padding: 0.75rem 0;
    color: var(--clr-txt-400);
    font-size: 2rem;
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    transition: var(--transition);

    // @include mq.media('<32em') {
    //   font-size: 2.2rem;
    // }

    @include mq.media('>=ipad') {
      margin: 0 1rem;
      font-size: 1.5rem;
    }
    &:hover {
      color: var(--clr-txt-400);
      @include mq.media('>=ipad') {
        color: var(--clr-txt-400);
      }
    }
  }
}

.top-link {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: var(--radius);
  color: var(--clr-white);
  background: var(--clr-secondary);
  font-size: 1.25rem;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}
