@use '../abstracts/functions' as f;
@use '../abstracts/mixins' as mx;
@use '../abstracts/mq-manager' as mq;

/*********** SECTION: CTA ************/
.section-cta {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: var(--clr-bg-600);
  background-image: f.img('bg-boost-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  @include mq.media('>=ipad') {
    background-image: f.img('bg-boost-desktop.svg');
  }

  h2 {
    color: var(--clr-txt-100);
  }
}
