@use '../abstracts/functions' as f;
@use '../abstracts/mq-manager' as m;


/*********** BODY ************/
body {
  position: relative;
  background-color: var(--clr-bg-200);
  font-family: var(--ff-primary);
  font-size: 1.8rem;
  font-weight: var(--fw-300);
}

main {
  padding: 5em 0;
}
