html::-webkit-scrollbar {
  width: 9px;
  background-color: #f5f5f5;
}
html::-webkit-scrollbar-thumb {
  background-color: #555;
  border: 2px solid #000;
  border-radius: 8px;
}
html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  background-color: #000;
}

