@use '../abstracts/mq-manager' as *;
[class^='heading-'] {
  color: var(--clr-txt-600);
  font-weight: var(--fw-700);

  @include media('<=30em') {
    line-height: 1.1;
  }
  @include media('<=tablet') {
    text-align: center;
  }
}
.heading {
  &-primary {
    font-size: 9rem;
  }

  &-secondary {
    font-size: 3.5rem;
  }

  &-tertiary {
    font-size: 19px;
  }
}

.lead {
  margin-bottom: 1.25rem;
  font-size: 1.8rem;
}

// h4 {
//   font-size: 1.777rem;
// }

// h5 {
//   font-size: 1.333rem;
// }

// small,
// .text_small {
//   font-size: 1.8rem;
// }

// h1 {
//   margin-top: 0;
//   font-size: 4.209rem;
// }

// h2 {font-size: 3.157rem;}

// h3 {font-size: 2.369rem;}
