$colors: (
  bg: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 75%),
    300: hsl(257, 7%, 63%),
    400: hsl(180, 66%, 49%),
    500: hsl(255, 11%, 22%),
    600: hsl(257, 27%, 26%),
    700: hsl(260, 8%, 14%),
    800: hsl(0, 0%, 98%),
  ),
  el: (
    100: hsl(0, 87%, 67%),
    200: hsl(180, 66%, 49%),
    300: hsl(248, 32%, 49%),
    400: hsl(0, 0%, 97%),
  ),
  txt: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 97%),
    300: hsl(0, 0%, 75%),
    400: hsl(257, 7%, 63%),
    500: hsl(255, 11%, 22%),
    600: hsl(260, 8%, 14%),
  ),
);
