$colors: (
  bg: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 98%),
    300: hsl(233, 8%, 62%),
    400: hsl(136, 65%, 51%),
    500: hsl(192, 70%, 51%),
    600: hsl(233, 26%, 24%),
  ),
  el: (
    100: hsl(0, 0%, 100%),
    200: hsl(154, 59%, 51%),
    300: hsl(248, 32%, 49%),
    400: hsl(246, 25%, 77%),
    500: hsl(249, 10%, 26%),
  ),
  txt:
    (
      100: hsl(0, 0%, 98%),
      200: hsl(220, 16%, 96%),
      300: hsl(233, 8%, 62%),
      400: hsl(233, 26%, 24%),
    ),
);
