$type-scale: (
  small: (
    100: 0.64rem,
    200: 0.8rem,
    300: 1.125rem,
    400: 1.325rem,
    500: 1.425rem,
    600: 1.563rem,
    700: 2rem,
    800: 2.5rem,
    900: 3.2rem,
  ),
  large: (
    100: 0.64rem,
    200: 0.8rem,
    300: 1rem,
    400: 1.275rem,
    500: 1.563rem,
    600: 1.953rem,
    700: 2.441rem,
    800: 3.052rem,
    900: 3.815rem,
  ),
);

$font-weights: (
  400: 400,
  500: 500,
  700: 700,
);
